<?php
/**
 * Created by PhpStorm.
 * User: New user
 * Date: 16/12/2014
 * Time: 22:15
 */
//apiKey can be found inside your account information
//screen and requires a one time generation
$apiKey 	= 'REPLACE THIS TEXT';

//AccountId is the Id of one of your accounts
//To later change this use OandaWrap::nav_account_set($accountId)
$accountId 	= 'REPLACE THIS TEXT';
